[submodule "TanStack_UserManagement_Assignment4"]
	path = TanStack_UserManagement_Assignment4
	url = git@github.com:Golchha-Harsh/TanStack_UserManagement_Assignment4
[submodule "Debugging_02.git"]
	path = Debugging_02.git
	url = git@github.com:Golchha-Harsh/Debugging_02.git
[submodule "Scrolling-Input_Assigment3.git"]
	path = Scrolling-Input_Assigment3.git
	url = git@github.com:Golchha-Harsh/Scrolling-Input_Assigment3.git
[submodule "InputScrollRef_01"]
	path = InputScrollRef_01
	url = git@github.com:Golchha-Harsh/InputScrollRef_01
[submodule "Debugging_02"]
	path = Debugging_02
	url = git@github.com:Golchha-Harsh/Debugging_02
[submodule "Interceptor_Axis_03"]
	path = Interceptor_Axis_03
	url = git@github.com:Golchha-Harsh/Interceptor_Axis_03
[submodule "TanStack_04"]
	path = TanStack_04
	url = git@github.com:Golchha-Harsh/TanStack_04
[submodule "React_Project_05"]
	path = React_Project_05
	url = git@github.com:Golchha-Harsh/React_Project_AssigmentMega.git
[submodule "React_Project_AssigmentMega.git"]
	path = React_Project_AssigmentMega.git
	url = https://github.com/Golchha-Harsh/React_Project_AssigmentMega.git
